volumes:
  db_data:

services:
  server:
    image: ghcr.io/ngc7293/functionallist:0.1.0
    ports:
      - "8000:8000"
    depends_on:
      - database
    env_file: .env

  database:
    image: postgres:18
    ports:
      - "5432:5432"
    environment:
      POSTGRES_PASSWORD: postgres
    volumes:
      - db_data:/var/lib/postgresql
